<!-- reviews-new.handlebars -->

<form method="POST" action="/reviews">
    <fieldset>
        <legend>
            <!-- New Review -->

        </legend>

        <!-- Input -->
        <p>
            <label for="charityTitle">
                Charity
            </label>
            <br>
            <input type="text" name="charityTitle">
        </p>
        <p>
            <label for="charityDomain">
                Domain
            </label>
            <br>
            <input type="text" name="charityDomain">
        </p>
        <p>
            <label for="charityScore">
                Score
            </label>
            <br>
            <input type="text" name="charityScore">
        </p>
        <p>
            <label for="charityLocation">
                Location
            </label>
            <br>
            <input type="text" name="charityLocation">
        </p>

    </fieldset>

    <!-- button -->
    <p>
        <button type="submit">
            Save Reviews
        </button>
    </p>

</form>
