<!-- reviews-new.handlebars -->

<form method="POST" action="/reviews">
    <fieldset>
        <legend>Thank you for donating!</legend>
        <!-- Input -->
        <!--
        <p>
            <label for="charityTitle">Charity</label>
            <br>
            <input type="text" name="charityTitle">
        </p>
        <p>
            <label for="charityDomain">
                Domain
            </label>
            <br>
            <input type="text" name="charityDomain">
        </p>
        <p>
        -->
        <p>
            Charity:
            <!-- <input type="text" id="domain" size="20">
            <select id="domain" onchange="charity_list()">
                <option>Children's Scholarship Fund</option>
                <option>Congressional Medal of Honor Foundation</option>
                <option>Amazon Conservation Association</option>
            </select>
            -->
            {{domain}}
        </p>
            <label for="donationAmount">
                Donation Amount:
            </label>
            <br>
            <input type="text" name="donationAmount">
        </p>
        <p>
            <label for="comments">
                Comments:
            </label>
            <br>
            <input type="text" name="commentSection">
        </p>

    </fieldset>

    <!-- button -->
    <p>
        <button type="submit">
            Submit
        </button>
    </p>

</form>
